<h1>Protein Functional Sites Prediction</h1>
<ul>
	<li><%=link_to "PFSP 1.2 user guide",'/page/userguide'%></li>
	<li><%=link_to "PFSP_1.2_multicore.rar",'/page/PFSPwin'%> for windows</li> 
	<li><%=link_to "perl code for methylation density estimation",'/page/methdns'%></li>
</ul>
